# .coveragerc to control coverage
# see http://nedbatchelder.com/code/coverage/config.html

[run]
branch = True
source_pkgs =
    spreadflow_core
omit =
    /tmp/**
    spreadflow_core/test/**
parallel = True

[report]
omit =
    /tmp/**
    spreadflow_core/test/**
