# .coveragerc to control coverage
# see http://nedbatchelder.com/code/coverage/config.html

[run]
branch = True
source_pkgs =
    spreadflow_core
omit =
    spreadflow_core/test/*
    /tmp/**
parallel = True
